repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: C://Users//johng//miniforge3//envs//quant//python.exe -m pytest
        language: system
        pass_filenames: false
        files: ^(tests/|.*test_.*\.py|.*_test\.py)$